.password-strength-meter{
    margin-bottom: 10px;
}
.password-strength-meter div{
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
}

.weak{ background-color: red;}
.medium{background-color: yellow;}
.strong{background-color: green;}